<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>66.488655090332031</real>
	<key>angleVariance</key>
	<real>162.19070434570312</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>smoke</string>
	<key>duration</key>
	<real>0.14999999999999999</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.34712672233581543</real>
	<key>finishColorGreen</key>
	<real>0.29137957096099854</real>
	<key>finishColorRed</key>
	<real>0.37009438872337341</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.43592143058776855</real>
	<key>finishParticleSize</key>
	<real>75.739723205566406</real>
	<key>finishParticleSizeVariance</key>
	<real>65.164382934570312</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<integer>77</integer>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<integer>300</integer>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.5</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>324.37939453125</real>
	<key>rotatePerSecond</key>
	<integer>360</integer>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>13.002996444702148</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>2</real>
	<key>sourcePositionVariancey</key>
	<real>4</real>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>240</real>
	<key>speed</key>
	<real>12.521404266357422</real>
	<key>speedVariance</key>
	<real>245.71917724609375</real>
	<key>startColorAlpha</key>
	<real>0.5</real>
	<key>startColorBlue</key>
	<real>0.53499060869216919</real>
	<key>startColorGreen</key>
	<real>0.56156933307647705</real>
	<key>startColorRed</key>
	<real>0.5808035135269165</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>18.808219909667969</real>
	<key>startParticleSizeVariance</key>
	<real>52.753425598144531</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>explosion_1.png</string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
