<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>50.45904541015625</real>
	<key>angleVariance</key>
	<real>214.40509033203125</real>
	<key>blendFuncDestination</key>
	<integer>772</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>StarFever2</string>
	<key>duration</key>
	<real>0.14999999999999999</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.91114389896392822</real>
	<key>finishColorGreen</key>
	<real>0.95067673921585083</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>38.993789672851562</real>
	<key>finishParticleSizeVariance</key>
	<real>35.689441680908203</real>
	<key>gravityx</key>
	<real>58.1328125</real>
	<key>gravityy</key>
	<real>6.01708984375</real>
	<key>maxParticles</key>
	<real>100</real>
	<key>maxRadius</key>
	<real>63.276397705078125</real>
	<key>maxRadiusVariance</key>
	<real>155.49786376953125</real>
	<key>minRadius</key>
	<real>132.64266967773438</real>
	<key>minRadiusVariance</key>
	<real>211.835205078125</real>
	<key>particleLifespan</key>
	<real>0.71653604507446289</real>
	<key>particleLifespanVariance</key>
	<real>1.1228649616241455</real>
	<key>radialAccelVariance</key>
	<real>-66.3819580078125</real>
	<key>radialAcceleration</key>
	<real>-101.6109619140625</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>28.770187377929688</real>
	<key>sourcePositionVariancey</key>
	<real>23.1055908203125</real>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>240</real>
	<key>speed</key>
	<real>290.663818359375</real>
	<key>speedVariance</key>
	<real>106.2694091796875</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>0.62634903192520142</real>
	<key>startColorRed</key>
	<real>0.65973347425460815</real>
	<key>startColorVarianceAlpha</key>
	<real>1</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>90.434783935546875</real>
	<key>startParticleSizeVariance</key>
	<real>209.42857360839844</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>36.7818603515625</real>
	<key>textureFileName</key>
	<string>StarFever2.png</string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
