<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BodyCao copy 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,345},{223,224}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,20},{223,224}}</string>
			<key>sourceSize</key>
			<string>{236,244}</string>
		</dict>
		<key>BodyCao copy 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,569},{223,224}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,20},{223,224}}</string>
			<key>sourceSize</key>
			<string>{236,244}</string>
		</dict>
		<key>BodyCao copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,345},{223,225}}</string>
			<key>offset</key>
			<string>{6,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,19},{223,225}}</string>
			<key>sourceSize</key>
			<string>{236,244}</string>
		</dict>
		<key>Cao_Duoi.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,0},{99,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,111}}</string>
			<key>sourceSize</key>
			<string>{99,111}</string>
		</dict>
		<key>Symbol 30 copy 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{7,7}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>Symbol 4.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,34},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>Symbol 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{347,344}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,24},{347,344}}</string>
			<key>sourceSize</key>
			<string>{386,388}</string>
		</dict>
		<key>Tai.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,100},{72,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,66}}</string>
			<key>sourceSize</key>
			<string>{72,66}</string>
		</dict>
		<key>Tai2.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,188},{71,74}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{71,74}}</string>
			<key>sourceSize</key>
			<string>{74,76}</string>
		</dict>
		<key>Tay2 copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,0},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>Tay2.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,100},{87,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{87,94}}</string>
			<key>sourceSize</key>
			<string>{87,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>caoloading.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>caoloading.png</string>
	</dict>
</dict>
</plist>
