<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Body copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,183},{80,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,72}}</string>
			<key>sourceSize</key>
			<string>{80,72}</string>
		</dict>
		<key>Body.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{186,182}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,2},{186,182}}</string>
			<key>sourceSize</key>
			<string>{208,184}</string>
		</dict>
		<key>Cao_Duoi.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,183},{80,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,88}}</string>
			<key>sourceSize</key>
			<string>{80,88}</string>
		</dict>
		<key>Tai2.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,0},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,62}</string>
		</dict>
		<key>Tay.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,109},{38,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,37}}</string>
			<key>sourceSize</key>
			<string>{38,37}</string>
		</dict>
		<key>mat2 copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,109},{31,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,26}</string>
		</dict>
		<key>mat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,62},{46,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,51}}</string>
			<key>sourceSize</key>
			<string>{46,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kyluc1.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>kyluc1.png</string>
	</dict>
</dict>
</plist>
